<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">

  <!--HTMX CDN-->
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>


  <!--Tailwinds CSS CDN-->
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-slate-800 text-white">
  This is it!
  <button hx-get="/users" class='bg-slate-950 hover:bg-slate-900 p-2 rounded-lg transition'>
    Click me
  </button>
  <Form hx-post="/todo" hx-target="#todolist" hx-swap="beforeend">
    <label for="title">Title:</label>
    <input class="bg-slate-500 rounded-lg" type="text" id="title" name="title" required>
    <label for="description">Description:</label>
    <input class="bg-slate-500 rounded-lg" type="text" id="description" name="description" required>
    <button type="submit">Submit</button>
  </Form>
  <div hx-get="/todos" hx-trigger="load">
  </div>
</body>

</html>
